@charset "utf-8";

@media screen and (max-width:1439px){

    /* 버튼 공통 */

    .sec_tit {
        font-size: 44px;
    }

    .s04_sub {
        font-size: 36px;
    }

    .sec_txt {
        font-size: 22px;
    }

    .cont_btn {
        width: 277px;
        height: 60px;
    }

    .cont_btn>span {
        font-size: 18px;
        line-height: 64px;
    }

    .cont_btn img {
        top: 290px;
        right: 18px;
    }


    /* 1 */

    .sec01_txt {
        top: 274px;
    }

    #sec01 .s01_txt {
        font-size: 27px;
    }

    .s01 .cloud {
        width: 37%;
    }

    /* 2 */

    #sec02 .sec_tit {
        top: 46px;
        transform: translateX(64%);
        font-size: 45px;
    }

    #sec02 .area01 {
        left: 169px;
    }

    #sec02 .area02{
        width:32%;
    }

    .area_tit {
        font-size: 27px;
        width: auto;
    }

    .icons img {
        width: 100%;
        min-width: 76px;
    }

    .icons ul {
        display: flex;
    }

    .icons ul li{
        width:calc(25% - 20px);
        margin:0 10px;
    }

    .area02_txt02>ul>li {
        font-size: 16px;
    }

    .skill_icons img {
        width: calc(100% / 6 - 13px);
        height: auto;
        margin:0 5px;
    }

    .sec_area {
        margin-bottom: 56px;
    }

    #sec02 .area01 p {
        font-size: 24px;
    }

    .profile01 {
        width: 312px;
        height: 312px;
    }

    .frame_pro {
        top: calc(50% - 367px);
        left: calc(50% - 180px);
        width: 366px;
    } 

    /* 3 */

    .slider_box {
        left: 20%;
        width: 80%;
    }

    #sec03 p {
        left: 372px;
        top: 176px;
        font-size: 21px;
    }

    #sec03 .bg_line02 {
        right: calc(100% - 1735px);
    }

    #sec03 .bg_line03 {
        left: 199px
    }

    /* 4 */

    .blink_over {
        right: -11px;
    }

    #sec04 .bg_line04 {
        left: 194px;
    }

    .ipad_frame01 {
        width: 633px;
    }

    .pc_wrap01 .box01 {
        width: 589px;
        height: 442px;
        right: 359px;
        top: 20.5px;
    }

    .iphone_frame01 {
        width: 186px;
    }

    .box02 img {
        width: 100%;
    }

    .pc_wrap02 .box02 {
        width: 168px;
        height: 355px;
        top: 11px;
        right: 209px;
    }

    .cloud_sec04 {
        width: 74%;
        height: auto;
    }

    .sec04_txt {
        left: calc(50% + 275px);
        top: 32%;
    }

    #sec04 .bg_line05 {
        bottom: 440px;
        fill:  rgb(255, 255, 255);
    }

    /* 5 */

    .back_mount {
        top: 346px;
    }

    .back_mount img {
        width: 100%;
        height: 100%;
    }

    .sec05_mockup {
        width: 60%;
        height: auto;
        left: calc(50% - 223px);
        bottom: 291px;
    }

    #sec05 .cont_btn img {
        top: 236px;
        right: 18px;
    }

    .sec05_txt {
        bottom: 436px;
        left: 155px;
    }

    .failing_star:nth-child(1) {
        top: calc(50% - 171px);
        left: calc(50% + 227px);
    }

    .failing_star:nth-child(2) {
        top: calc(50% - 428px);
        left: calc(50% + 197px);
    }

    .failing_star:nth-child(3) {
        top: calc(50% + 522px);
        left: calc(50% - 173px);
    }

    .failing_star:nth-child(6) {
        top: calc(50% + 677px);
        left: calc(50% - 479px);
    }

    #sec05 .bg_line06 {
        width: 80%;
        height: auto;
    }

    /* 6 */

    #sec06 .bg_line07 {
        right: auto;
        left: calc(80% - 6px);
    }

    #sec06 .bg_line08 {
        right: auto;
        left: calc(80% - 6px);
    }

    #sec06 .sec_tit {
        left: calc(80% - 35px);
        top: 212px;
    }

    .sec06_txt {
        right: 353px;
        top: calc(50% - 323px);
    }

    #sec06 .cont_btn img {
        right: 37px;
        top: 242px;
    }

    /* 7 */

    #sec07 .bg_line09 {
        width: 80%;
        height: auto;
        right: 283.5px;
    }

    #sec07 .bg_line10 {
        display: none;
    }

    .sec07_txt {
        top: 99px;
    }

    .team_mockup {
        width: 76%;
        height: auto;
        top: calc(50% - 241px);
    }

    #sec07 .btn_wrap a {
        bottom: 128px;
        left: calc(50% - 136px);
    }

    .loader_move {
        top: 226px;
        right: 146px;
    }

    .loader_move02 {
        bottom: 191px;
        left: 222px;
    }

    /* 8 */

    .sec08_bg_circle  {
        width: 480px;
        height: 480px;
        bottom: 150px;
        left: 49px;
    }

    .sec08_sul {
        width: 480px;
        height: auto;
        left: 74px;
    }

    .sec08_main {
        bottom: 186px;
        left: 176px;
    }

    .sec08_main02 {
        width: 480px;
        height: auto;
        bottom: -47px;
        left: -89px;
    }

    .sec08_txt {
        left: calc(50% + 123px);
        bottom: 349px;
    }

    .sec08_txt {
        right: 357px;
        top: 395px;
    }

    .sec08_circle.c01 {
        width: 185px;
        height: 185px;
        left: calc(50% - 774px);
        bottom: 128px;
    }

    .sec08_circle02.c02 {
        width: 195px;
        height: 195px;
        right: calc(50% - 811px);
        top: 125px;
    }

    #sec08 .cont_btn img {
        right: 356px;
        top: 258px;
    }

    #sec08 .bg_line11 {
        right: -125px;
        top: 431px;
    }

    #sec08 .bg_box02 {
        top: 419px;
        right: calc(50% - 108px);
    }

    #sec08 .angel_flying {
        width: 109px;
    }

    .sec08_bottom_cloud {
        width: 53%;
    }

    .thx {
        width: 736px;
        height: auto;
        top: 107px;
        left: calc(50% - 398px);
    }

    .text-container {
        left: calc(50% - 232px);
    }

    .text-container .animated-text h2 {
        font-size: 42px;
    }

    .text-container02 {
        left: calc(50% - 232px);
    }

    .text-container02 .animated-text02 h2 {
        font-size: 42px;
    }

    div.text_box {
        width: 211px;
        font-size: 22px;
    }

    .text_box_move {
        left: calc(50% - 96px);
        bottom: 250px;
    }

    .vaildator p {
        left: calc(50% - 31px);
    }
}

@media screen and (max-width:999px) {
    
    /* 버튼 공통 */

    .sec_tit {
        font-size: 28px;
    }

    .s04_sub {
        font-size: 26px;
    }

    .s04_sub {
        font-size: 26px;
    }

    .sec_txt {
        font-size: 20px;
    }

    .cont_btn {
        width: 187px;
        height: 39px;
    }

    .cont_btn {
        font-size: 12px;
        line-height: 42px;
        left: 12px;
    }

    .cont_btn img {
        top: 230px;
        right: 40px;
        width: 16px;
        height: auto;
    }

    .cont_btn>span {
        font-size: 12px;
        line-height: 44px;
        left: 12px;
    }

    /* 1 */

    #sec01 .sec_tit {
        font-size: 40px;
    }

    #sec01 .s01_txt {
        font-size: 17px;
    }

    .moon {
        width: 63px;
        height: auto;
        left: calc(50% + 224px);
        top: -66px;
    }

    .s01 .cloud {
        width: 45%;
    }

    .sec01_cloud03 {
        right: 100px;
    }

    /* 2 */

    .profile01 {
        width: 237px;
        height: auto;
        border: 16px solid #2A2943;
    }

    .frame_pro {
        top: calc(50% - 345px);
        left: calc(50% - 147px);
        width: 292px;
    }

    .area02_txt02>ul>li {
        top: 201px;
    }

    #sec02 .area01 p {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .sec_area.area02_txt01 {
        display: none;
    }

    #sec02 .area02 {
        left: calc(50% - 322px);
        top: calc(50% + 302px);
        z-index: 1;
    }

    .area_tit {
        font-size: 21px;
        width: 430px;
    }

    .area02_txt02>ul>li {
        font-size: 18px;
    }

    .sec_area {
        margin-bottom: 24px;
    }

    .skill_icons img {
        width: 68px;
        height: auto;
    }

    /* 3 */

    .slider_box {
        left: calc(50% - 537px);
        top: 416px;
        width: 1029px;
    }
    
    #sec03 .bg_line03 {
        display: none;
    }

    #sec03 .bg_line02 {
        right: calc(100% - 1484px);
        top: 359px;
    }

    #sec03 p {
        left: calc(50% - 354px);
        top: 345px;
    }

    #sec03 .slick-arrow {
        left: calc(50% - 114px);
        bottom: -32px;
    }

    .slide_arrow_line {
        left: calc(50% - 40px);
        bottom: 17px;
    }

    .sec03_cloud {
        left: calc(50% - 170px);
        width: 177%;
    }

    /* 4 */

    #sec04 .bg_line04 {
        display: none;
    }

    .ipad_frame01 {
        width: 50%;
    }

    .pc_wrap01 .box01 {
        width: 452px;
        height: 341px;
        right: 501px;
        top: 14.5px;
    }

    .iphone_frame01 {
        width: 44%;
    }

    .pc_wrap02 .box02 {
        width: 152px;
        height: 326px;
        top: 9px;
        right: 225px;
    }

    .pc_wrap01 {
        right: -20%;
        bottom: 194px;
        margin: 0;
    }

    .pc_wrap02 {
        right: 61%;
        bottom: 269px;
    }

    .sec04_txt {
        left: calc(50% + 194px);
        top: 27%;
        z-index: 4;
    }

    #sec04 .bg_line05 {
        bottom: 765px;
        right: calc(50% - 552px);
    }

    #sec04 .ico_star2 {
        left: 16%;
    }

    #sec04 .ico_star2 {
        top: 26%;
    }

    /* 5 */

    .back_mount  {
        top: 463px;
    }

    .sec05_mockup {
        width: 70%;
        left: calc(50% - 236px);
        bottom: 308px;
    }

    .sec05_txt {
        bottom: 656px;
    }

    #sec05 .cont_btn img {
        top: 193px;
        right: 80px;
        width: 12px;
    }

    #sec05 .btn_wrap a span {
        left: 11px;
    }

    .failing_star:nth-child(2) {
        top: calc(50% - -89px);
        left: calc(50% + 138px);
    }

    .failing_star:nth-child(3) {
        top: calc(50% + 568px);
    }

    .failing_star:nth-child(6) {
        top: calc(50% + 334px);
        left: calc(50% - 118px);
    }

    /* 6 */

    .s06 .prd_mask .img_list li:nth-child(1) {
        width: 25%;
        left: 100px;
        top: 229px;
    }
    .s06 .prd_mask .img_list li:nth-child(2) {
        width: 25%;
        left: 341px;
        top: 158px;
    }
    .s06 .prd_mask .img_list li:nth-child(3) {
        width: 52%;
        bottom: -741px;
        left: 96px;
    }
    .s06 .prd_mask .img_list li:nth-child(4) {
        width: 27%;
        left: 580px;
        bottom: -762px;
    }

    #sec06 .btn_wrap a {
        margin-top: 33px;
    }

    #sec06 .cont_btn img {
        top: 169px;
        left: 162px;
    }

    .sec06_txt {
        right: 486px;
        top: calc(50% - 461px);
    }

    #sec06 .bg_line08 {
        display: none;
    }

    #sec06 .sec_tit {
        top: 310px;
        left: calc(80% + 202px);
    }

    /* 7 */

    #sec07 .bg_line09 {
        display: none;
    }

    #sec07 .s04_sub {
        font-size: 34px;
    }

    .sec07_txt {
        left: calc(50% - 270px);
    }

    .back_logo {
        right: -238px;
        top: 121px;
    }

    .back_logo img {
        width: 90%;
    }

    .team_mockup {
        width: 94%;
        left: 48px;
        top: 335px;
    }

    .loader_move {
        top: 98px;
        right: 75px;
    }

    .loader_move02 {
        bottom: 199px;
        left: 100px;
    }
    
    #sec07 .btn_wrap a {
        bottom: 208px;
        left: calc(50% - 81px);
    }

    #sec07 .btn_wrap a.cont_btn img {
        right: 13px;
        top: 16px;
    }

    .sec07_cloud {
        width: 107%;
        height: auto;
        bottom: -231px;
    }

    /* 8 */

    .sec08_main {
        bottom: 411px;
        left: calc(50% - 276px);
    }

    .sec08_txt {
        left: calc(50% - 21px);
        top: 637px;
    }

    #sec08 .bg_line11 {
        right: calc(50% - 572px);
        top: 658px;
    }

    #sec08 .bg_box02 {
        top: 649px;
        right: calc(50% + 32px);
    }

    .sec08_bg_circle {
        width: 434px;
        height: 434px;
    }

    .sec08_sul {
        width: 434px;
        height: auto;
    }

    .sec08_main02 {
        width: 434px;
        height: auto;
    }

    .sec08_circle.c01 {
        width: 150px;
        height: 150px;
        left: calc(50% - 410px);
    }

    .sec08_circle02.c02 {
        width: 185px;
        height: 185px;
        right: calc(50% - 488px);
        top: 53px;
    }

    #sec08 .cont_btn img {
        right: 444px;
        top: 200px;
    }

    .angel {
        right: calc(50% + 287px);
    }

    .thx {
        width: 654px;
        left: calc(50% - 338px);
    }

    .text-container .animated-text h2 {
        font-size: 39px;
    }

    .text-container02 .animated-text02 h2 {
        font-size: 39px;
    }

    .text-container {
        left: calc(50% - 232px);
        top: 310px;
    }

    .text-container02 {
        left: calc(50% - 232px);
        top: 369px;
    }

}

@media screen and (max-width:767px) {
    
    /* 1 */

    #sec01 .sec_tit {
        font-size: 16px;
        line-height: 50px;
    }
    
    #sec01 .s01_txt {
        font-size: 28px;
        display: table-caption;
        text-align: end;
    }

    .moon {
        left: calc(50% + 109px);
    }

    .s01 .cloud {
        width: 57%;
    }

    /* 2 */

    #sec02 .sec_tit {
        font-size: 36px;
        left: calc(50% - 310px);
    }

    #sec02 .bg_line {
        stroke: transparent;
    }

    .profile01 {
        width: 194px;
        height: auto;
        border: 11px solid #2A2943;
    }

    .frame_pro {
        top: calc(50% - 123px);
        left: calc(50% - 118px);
        width: 236px;
    }

    #sec02 .area01 {
        left: calc(50% + 52px);
        top: 49px;
    }

    #sec02 .area01 p {
        font-size: 19px;
        position: absolute;
        width: 411px;
        left: -237px;
        top: 97px;
    }

    #sec02 .area02 {
        left: calc(50% - 192px);
        top: calc(50% - 33px);
    }

    .area_tit {
        font-size: 18px;
        width: 419px;
    }

    .area02_txt02>ul>li {
        font-size: 17px;
    }

    .skill_icons img {
        width: 66px;
        height: auto;
    }

    /* 3 */

    .sec03_cloud img {
        width: 112%;
    }

    .sec03_cloud {
        top: -243px;
    }

    #sec03 p {
        font-size: 17px;
        left: calc(50% - 155px);
        top: 355px;
    }

    #sec03 .bg_line02 {
        display: none;
    }

    /* 4 */

    #hana_wrap {
        width: 829px;
        height: 1139px;
    }

    .iphone_frame01 {
        left: -61px;
        width: 35%;
    }

    .pc_wrap02 .box02 {
        right: 260px;
    }

    .ipad_frame01 {
        width: 41%;
    }

    .pc_wrap01 {
        right: calc(50% - 694px);
    }

    .pc_wrap02 {
        right: calc(50% - 17px);
        bottom: 282px;
    }

    .pc_wrap01 .box01 {
        width: 369px;
        height: 280px;
        right: 587px;
        top: 11.5px;
    }

    .pc_wrap02 .box02 {
        top: 8px;
        right: 319px;
        width: 119px;
        border-radius: 10px;
        height: 258px;
    }

    .sec04_txt {
        left: calc(50% - 165px);
        top: 57%;
    }

    #sec04 .bg_line05 {
        display: none;
    }

    #sec04 .ico_star7 {
        top: 22%;
    }

    /* 5 */

    #sec05 .bg_line06 {
        display: none
    }

    /* 6 */

    .sec06_elie_saab {
        top: -10%;
        left: calc(50% - 287px);
    }

    .s06 .prd_mask .img_list li:nth-child(1){
        width: 20%;
        left: 109px;
        top: 216px;
    }
    .s06 .prd_mask .img_list li:nth-child(2){
        width: 20%;
        left: 304px;
    }
    .s06 .prd_mask .img_list li:nth-child(3){
        width: 42%;
        bottom: -627px;
        left: 108px;
    }
    .s06 .prd_mask .img_list li:nth-child(4){
        width: 22%;
        left: 288px;
        bottom: -859px;
    }

    .sec06_txt {
        right: calc(50% - 85px);
        top: calc(50% + 278px);
    }

    #sec06 .sec_tit {
        font-size: 40px;
        top: -220px;
        left: calc(80% - 259px);
        transform: revert;
    }

    #sec06 .bg_line07 {
        display: none;
    }

    /* 7 */

    .sec07_txt {
        top: 154px;
        left: calc(50% - 176px);
    }

    #sec07 .sec_tit {
        font-size: 17px;
    }

    #sec07 .s04_sub {
        font-size: 20px;
    }

    #sec07 .sec_txt {
        font-size: 15px;
    }

    .team_mockup {
        width: 100%;
        left: calc(50% - 193px);
    }

    .back_logo {
        top: 303px;
    }

    #sec07 .btn_wrap a {
        bottom: 333px;
        left: calc(50% - 99px);
    }

    .loader_move {
        right: 5px;
    }

    .loader_move02 {
        left: -26px;
    }

    /* 8 */

    .sec07_cloud {
        width: 168%;
        height: auto;
        bottom: -213px;
    }

    .sec08_main {
        bottom: 445px;
    }

    .sec08_sul {
        width: 309px;
        height: auto;
        left: calc(50% + 147px);
        top: -511px;
    }

    .sec08_bg_circle {
        width: 309px;
        height: 309px;
        left: calc(50% + 123px);
        bottom: 224px;
    }

    .sec08_main02 {
        width: 309px;
        height: auto;
        left: 63px;
        bottom: 57px;
    }

    .sec08_txt {
        left: calc(50% - 181px);
        top: 697px;
    }
    
    #sec08 .bg_line11 {
        display: none;
    }

    #sec08 .bg_box02 {
        top: 708px;
        right: calc(50% - 79px);
    }

    .angel {
        right: calc(50% + 446px);
        top: -62px;
    }

    .sec08_circle.c01 {
        left: 10px;
    }

    .sec08_circle02.c02 {
        right: -157px;
    }

    /* 9 */

    #sec09 {
        overflow-x: hidden;
    }

    .sec08_bottom_cloud {
        width: 141%;
        top: -73px;
    }

    .thx {
        width: 477px;
        left: calc(50% - 238px);
        z-index: 1;
        top: 208px;
    }

    .text-container {
        z-index: 2;
        top: 344px;
    }

    .text-container02 {
        z-index: 2;
        top: 386px;
    }

    .text-container .animated-text h2 {
        font-size: 26px;
    }

    .text-container02 .animated-text02 h2 {
        font-size: 26px;
    }
}

