@charset "UTF-8";
*{margin:0;padding:0;box-sizing: border-box;}

body {
    overflow-x: hidden;
}

/* opening */

#opening {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 100;
	transform: translateY(0);
	transition: all 1s;
}

.opnening_txt_wrap {
	width: 800px;
	height: 200px;
	margin: 430px auto;
	overflow: hidden;
	position: relative;
	top:-100px;
	text-align: center;
}

#opening p{
	font-family: 'NEXON Lv1 Gothic OTF';
	position: absolute;
	letter-spacing: 2px;
	line-height: 30px;
	font-size: 20px;
	margin: auto;
	color: white;
	bottom: -500px;
	left: 0;
}
.opening_txt br:nth-child(1){
    display: none;
}
.opening_txt br:nth-child(3){
    display: none;
}
.opening_txt br:nth-child(5){
	display: none;
}

.motion_wrap {
    position: relative;
    width: 100%;
    z-index: 0;
}

.motion_wrap .sec {
    position: relative;
    width: 100%;
    height:1080px;
    /* opacity: 0; */
    transition: opacity .5s;
    background-repeat:no-repeat;
    background-size:cover;
}

.motion_wrap .sec.active {
    opacity: 1;
}

/* background  */

.motion_wrap .sec.s01 {
    background: rgb(119,159,182);
    background: linear-gradient(180deg, rgba(119,159,182,1) 0%, rgba(135,146,170,1) 42%, rgba(186,165,193,1) 100%);
}

.motion_wrap .sec.s02{
    background: rgb(100,98,132);
background: linear-gradient(180deg, rgba(100,98,132,1) 0%, rgba(58,50,80,1) 100%);
}
.motion_wrap .sec.s03{
    background: rgb(58,50,80);
    background: linear-gradient(180deg, rgba(58,50,80,1) 0%, rgba(36,24,44,1) 100%);
}
.motion_wrap .sec.s04{
    background: rgb(35,23,44);
    background: linear-gradient(180deg, rgba(35,23,44,1) 0%, rgba(32,18,24,1) 100%);
}
.motion_wrap .sec.s05{
    background: rgb(32,18,24);
    background: linear-gradient(180deg, rgba(32,18,24,1) 0%, rgba(105,69,84,1) 100%);
}
.motion_wrap .sec.s06{
    background: rgb(105,69,84);
    background: linear-gradient(180deg, rgba(105,69,84,1) 0%, rgba(187,149,164,1) 100%);
}
.motion_wrap .sec.s07{
    background: rgb(187,149,164);
    background: linear-gradient(180deg, rgba(187,149,164,1) 0%, rgba(205,191,211,1) 100%);
}
.motion_wrap .sec.s08{
    background: rgb(205,191,211);
    background: linear-gradient(180deg, rgba(205,191,211,1) 0%, rgba(174,197,215,1) 100%);
}

.motion_wrap .sec.s09 {
    background: rgb(174,198,216);
    background: linear-gradient(180deg, rgba(174,198,216,1) 0%, rgba(132,161,184,1) 100%);
    overflow: hidden;
}

/* 공통 */

.rel_box {
    max-width:1440px;
    margin:auto;
    height:100%;
    position: relative;
}

.sec_tit {
    font-family: "a옛날사진관4";
    font-size: 54px;
    opacity: 0.8;
    color: #ffff;
}

.s04_sub {
    font-family: "a옛날사진관3";
    font-size: 46px;
    opacity: 0.63;
    color: #ffff;
}

.sec_txt {
    font-family: "Yun320";
    font-size: 26px;
    color: #ffff;
    opacity: 0.7;
}

.cont_btn {
    background-color: #f6f6f6;
    display: flex;
    height: 67px;
    width: 366px;
    border-radius: 33px;
}

.cont_btn>span {
    font-family: "Yun320";
    font-size: 22px;
    color: #FFFFFF;
    position: absolute;
    left: 26px;
    line-height: 67px;
}

.cont_btn svg {
    left: 0;
    right: 0;
}

.btn_wrap a {
    margin-top: 44px
}

.cont_btn img{
    width: 16px;
    height: 12px;
    position: absolute;
    top:341px;
    right: 27px;
}

/* 1 */

#sec01 {
    color: #FFFFFF;
}

#sec01 .rel_box {
    display: flex;
    justify-content: center;
}

.sec01_txt {
    position: absolute;
    top: 211px;
    z-index:3
}

#sec01 .sec_tit {
    font-size: 4.378rem;
    letter-spacing: 10.5px;
    font-family: "a옛날사진관";
    text-align: center;
}

#sec01 .s01_txt {
    font-size: 30px;
    letter-spacing: 20.5px;
    border-top: 1px solid #ffff;
    padding-top: 10px;
    font-family: "NotoSansCJKkr-Thin";
}

#sec01 .mount {
    position: absolute;
    width:100%;
}

.moon {
    position: absolute;
    left: calc(50% + 287px);
    top: -82px;
}
.s01 .cloud{
    position:absolute;
}

.sec01_cloud01 {
    left: -344.8px;
    top: -25px;
}

.sec01_cloud02 {
    right: 86px;
    top: -61px;
}

.sec01_cloud03 {
    right: -500px;
    top: 197px;
}

.sec01_cloud04 {
    left: -307.3px;
    bottom: 423px;
}

.mount {
    bottom: 0;
    width:100%;
}
.mount.m01 {
    height:500px;
    bottom:-132px;
}
.mount.m02 {
    height:500px;
    bottom:-160px;
}
.mount.m03 {
    height:500px;
    bottom: -271px;
}
.mount.m04 {
    height:400px;
    bottom:-257px;
    
}
/* 2 */

#sec02 .bg_line{
    position:absolute;
    fill:none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    right:-200px;
    top:130px;
}

#sec02 .bg_line path {
    fill: transparent;
    stroke-width: 3;
}

#sec02 .bg_line.On path {
    animation: sec02_ani 5s 1;
    animation-fill-mode: both;
}

@keyframes sec02_ani {
    0% { stroke-dashoffset: 2000;}

    100% {stroke-dashoffset: 0;}
}

#sec02 .sec_tit {
    color:#FFFFFF;
    font-size: 58px;
    font-family: "a옛날사진관3";
    position:absolute;
    top:94px;
    transform:translateX(-1%);
    -webkit-transform:translateX(16%);
    -moz-transform:translateX(21%);
    -ms-transform:translateX(-1%);
    -o-transform:translateX(-1%);
}

.sec02_circle {
    background-color: blueviolet;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ffff;
}

.profile01 {
    border: 25px solid #2A2943;
    border-radius: 50%;
    width: 316px;
    height: 316px;
    overflow: hidden;
    margin: 24px auto 0;
}

.pro_pic {
    width: 100%;
}

.frame_pro{
    position: absolute;
    top: calc(50% - 389px);
    left: calc(50% - 188px);
    width: 375px;
}

#sec02 .area01 {
    position: absolute;
    left: 14px;
    top: 222px;
}

#sec02 .area01 p {
    font-size: 26px;
    color: #FFFFFF;
    font-family: "Yun320";
    opacity: 0.65;
    margin-top: 62px;
}

#sec02 .area02 {
    position: absolute;
    left: calc(50% + 26px);
    top: calc(50% - 277px);
}

.sec_area {
    margin-bottom: 31px;
    font-family: "NotoSansCJKkr-Thin";
}

/* 스킬 아이콘 시계추 */

.line_a {
    margin-left: 13px;
}

.skill_icons01 img{
    width: 98px;
    height: 127px;
    border: 5px solid #f8f8f8;
    display: block;
}

.skill_icons01 {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.skill_icons01::after {
    content: '';
    position: absolute;
    width: 20px; height: 20px;
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

.skill_icons01::before {
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}

.skill_icons02 img{
    width: 98px;
    height: 127px;
    border: 5px solid #f8f8f8;
    display: block;
}

.skill_icons02 {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.skill_icons02::after {
    content: '';
    position: absolute;
    width: 20px; height: 20px;
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

.skill_icons02::before {
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}

.skill_icons03 img{
    width: 98px;
    height: 127px;
    border: 5px solid #f8f8f8;
    display: block;
}

.skill_icons03 {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.skill_icons03::after {
    content: '';
    position: absolute;
    width: 20px; height: 20px;
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

.skill_icons03::before {
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}

.skill_icons04 img{
    width: 98px;
    height: 127px;
    border: 5px solid #f8f8f8;
    display: block;
}

.skill_icons04 {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.skill_icons04::after {
    content: '';
    position: absolute;
    width: 20px; height: 20px;
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

.skill_icons04::before {
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}

.skill_icons05 img{
    width: 98px;
    height: 127px;
    border: 5px solid #f8f8f8;
    display: block;
}

.skill_icons05 {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.skill_icons05::after {
    content: '';
    position: absolute;
    width: 20px; height: 20px;
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

.skill_icons05::before {
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}

.skill_icons06 img{
    width: 98px;
    height: 127px;
    border: 5px solid #f8f8f8;
    display: block;
}

.skill_icons06 {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.skill_icons06::after {
    content: '';
    position: absolute;
    width: 20px; height: 20px;
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

.skill_icons06::before {
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}

@keyframes swing {
    0% { transform: rotate(2deg); }
    100% { transform: rotate(-2deg); }
}

.area_tit {
    font-size: 32px;
    color: #FFFFFF;
    font-family: "a옛날사진관3";
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 27px;
    padding-bottom: 8px;
}

.area02_txt02>ul>li {
    font-size: 25px;
    color: #FFFFFF;
    opacity: .8;
}
.icons ul li {
    display: inline-flex;
    padding-right: 51px;
}

.icons img {
    width: 96px;
    height: 100%;
}


/* 3 */

#sec03 .bg_line02 {
    background-color: #FFFFFF;
    height: 2px;
    width: 0;
    position: absolute;
    right: -11px;
    top: 189px;
}

#sec03 .bg_line03{
    position:absolute;
    fill:none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    left:215px;
    top:189px;
}

#sec03 .bg_line03 path {
    fill: transparent;
    stroke-width: 3;
}

#sec03 .bg_line03.On path {
    animation: sec03_ani 5s 1;
    animation-fill-mode: both;
}

@keyframes sec03_ani {
    0% { stroke-dashoffset: 2000;}

    100% {stroke-dashoffset: 0;}
}

.sec03_cloud {
    position: absolute;
    left: calc(50% + 288px);
    top: calc(50% - 444px);
}

#sec03 svg {
    position: absolute;
    left: -254px;
    top: 109px;
}

.sec03_svg {
    stroke: #FFFFFF;
    fill: none;
    opacity: 0.63;
}

#sec03 p {
    font-size: 26px;
    font-family: "Yun320";
    color: #FFFFFF;
    position: absolute;
    left: 163px;
    top: 165px;
}

.slider_box {
    position: absolute;
    top: 235px;
    left: 148px;
    width: 1525px;
    overflow: hidden;
}

#sec03 .slick-list {
    overflow: hidden;
}

#sec03 .slick-slide {
    width: 330px;
    height: 326px;
    position: relative;
    outline: none;
    transition: transform .2s;
    overflow: hidden;
    display: inline-flex;
    margin-right: 31px;
}

#sec03 .slick-slide img {
    width: 100%;
    height: 100%;
    display: block;
}

#sec03 .slick-slide::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background-color: rgba(0,0,0,0.52); */
    z-index: 2;
    transition: all 0.3s;
}

#sec03 .slick-slide.slick-center.slick-active {
    transform: scale(1);
}

#sec03 .slick-slide.slick-center.slick-active:after {
    opacity: 0;
}

#sec08 .slick-slide.slick-active {
    z-index: 3;
    transform: scale(0.8) translate(100px);
}

#sec08 .slick-slide.slick-center + .slick-slide.slick-active {
    z-index: 0; transform: scale(0.8) translate(-100px);
}

#sec03 .slick-list {
    height: 386px;
}

#sec03 .slick-arrow {
    position: absolute;
    display: block;
    bottom: -21px;
    left: -42px;
    height: 100px;
    width: 100px;
    outline: none;
    text-indent: -9999px;
}

#sec03 .slick-prev {
    background-image: url(../img/sec03/prev_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
}

#sec03 .slick-next {
    background-image: url(../img/sec03/next_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 150px;
}

.slide_arrow_line  {
    height: 2px;
    width: 100px;
    background-color: #FFFFFF;
    position: absolute;
    left: 33px;
    bottom: 28px;
    border-radius: 10px;
}

.sec03_moon {
    position: absolute;
    right: 6px;
    bottom:-284px;
    z-index: 1;
}

.sec03_moon02 {
    position: absolute;
    width: 418px;
    height: 418px;
    right: 53px;
    bottom:-238px;
    z-index: 1;
    opacity: 0;
    transition: all 3.6s ease-in-out;
}

.sec03_moon02:hover {
    opacity: 1;
    transition: all 3.6s ease-in-out;
}

/* 4 */

/* blink bg */

.blink_over {
    position: absolute;
    top: 10px;
    right: 223px;
}

.blink_over p{
    color: rgb(255, 255, 255); 
    font-family: "Courier";
    font-size: 20px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end); 
}

.blink_over span{
    animation: blink 1s infinite;
}

@keyframes type{ 
    from { width: 0; } 
} 

@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
} 

/* @keyframes blink{
    to{opacity: .0;}
} */

/*  */

#sec04 .bg_line04{
    position:absolute;
    fill:none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 2000;
    stroke-dashoffset: -2000;
    left:210px;
    top:-1px;
}

#sec04 .bg_line04 path {
    fill: transparent;
    stroke-width: 3;
}

#sec04 .bg_line04.On path {
    animation: sec04_ani 5s 1;
    animation-fill-mode: both;
}

@keyframes sec04_ani {
    0% { stroke-dashoffset: -2000;}

    100% {stroke-dashoffset: 0;}
}

#sec04 .bg_line05{
    position:absolute;
    fill:none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    right: -3px;
    bottom: 440px;
}

#sec04 .bg_line05 path {
    fill: transparent;
    stroke-width: 3;
}

#sec04 .bg_line05.On path {
    animation: sec05_ani02 6s 1;
    animation-fill-mode: both;
}

@keyframes sec05_ani02 {
    0% { stroke-dashoffset: 2000;}

    100% {stroke-dashoffset: 0;}
}

/* 별 */

#sec04 .ico_star {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #989caa;
    border-radius: 4px;
}

#sec04 .ico_star1 {
    top: 17%;
    left: 61%;
    animation: twinkle 2s infinite;
}
#sec04 .ico_star2 {
    top: 7%;
    left: 54%;
    animation: twinkle 3s infinite;
}
#sec04 .ico_star3 {
    top: 31%;
    left: 87%;
    animation: twinkle 3.5s infinite;
}
#sec04 .ico_star4 {
    top: 49%;
    left: 95%;
    animation: twinkle 5s infinite;
}
#sec04 .ico_star5 {
    top: 9%;
    left: 94%;
    animation: twinkle 4s infinite;
}
#sec04 .ico_star6 {
    top: -4%;
    left: 26%;
    animation: twinkle 1.8s infinite;
}
#sec04 .ico_star7 {
    top: 26%;
    left: 52%;
    animation: twinkle 2s infinite;
}

@keyframes twinkle {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }

    50% {
        opacity: 1;
        transform: scale(0.6);
        box-shadow: 0 0 10px rgba(255,255,255,0.5);
        background-color: #FFFFFF;
    }

    100% {
        opacity: 0;
        transform: scale(0.3);
    }
}

.sec04_txt {
    position: absolute;
    left: calc(50% + 348px);
    top: 42%;
}

#sec04 .btn_wrap a {
    background-color: #00B7AD;
}

/* hover */

/* pc */

#hana_wrap {
    width: 100%;
    height: 1201px;
    width: 880px;
    position: relative;
}

.pc_wrap01 {
    position: absolute;
    right: 28%;
    margin-right: -500px;
    z-index: 2;
    bottom: 171px;
    width: 970px;
    height: 680px;
}

.ipad_frame01 {
    position: absolute;
    z-index: 1;
    width: 653px;
}

.box01 {
    position: absolute;
    z-index: 1;
}

.pc_wrap01 .box01 {
    width: 609px;
    height: 462px;
    background-color: #000;
    overflow: hidden;
    top: 18.5px;
    right: 339px;
    border-radius: 13px;
}

.box01 img {
    position: absolute;
    top: 0px;
    width: 100%;
}

.pc_wrap01 .box01:hover img {
    animation: ani02 40s infinite;
}



@keyframes ani02 {
    0% {top:0;}
    50% {top:-2046px;}
    100% {top:0;}
}

/* mob */

.pc_wrap02 {
    position: absolute;
    right: 30%;
    margin-right: -500px;
    z-index: 3;
    bottom: 191px;
    width: 386px;
    height: 506px;
}

.iphone_frame01 {
    position: absolute;
    z-index: 1;
    width: 206px;
}

.box02 {
    position: absolute;
    z-index: 0;
}

.pc_wrap02 .box02 {
    width: 188px;
    height: 395px;
    background-color: #000;
    overflow: hidden;
    top: 12px;
    right: 184px;
    border-radius: 20px;
}

.box02 img {
    position: absolute;
    top: 0px;
    width: 95%;
}

.pc_wrap02:hover .box02 img {
    animation: ani01 40s infinite;
}

@keyframes ani01 {
    0%{top:0;}
    50%{top:-3180px;}
    100%{top:0;}
}

.cloud_sec04 {
    position: absolute;
    right: calc(50% + 344px);
    bottom: -77px;
    z-index: 1;
}

/* 5 */

#sec05 .bg_line06{
    position:absolute;
    fill:none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    left:0;
    bottom: 108px;
}

#sec05 .bg_line06 path {
    fill: transparent;
    stroke-width: 3;
}

#sec05 .bg_line06.On path {
    animation: sec05_ani 5s 1;
    animation-fill-mode: both;
}

@keyframes sec05_ani {
    0% { stroke-dashoffset: 2000;}

    100% {stroke-dashoffset: 0;}
}

/* 별똥별 */

.shooting_stars {
    position: absolute;
    width: 100%;
    height: 1%;
    transform: rotateZ(40deg);
}

.failing_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 4px;
    width: 100px;
    background: linear-gradient(-45deg, #8392ada9, rgba(0,0,255,0));
    z-index: 1;
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #210c3a);
    animation: tail 3s ease-in-out infinite,
                falling 3s ease-in-out infinite;
}

@keyframes tail {
    0% {
        width: 0px;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@keyframes falling {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(300px);
    }
}

.failing_star::before, .failing_star::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    height: 4px;
    background: linear-gradient(-45deg, rgba(0,0,255,0), #706e8a78, rgba(0,0,255,0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 3s ease-in-out infinite;
}

@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

.failing_star:after {
    transform: translateX(50%) rotateZ(-45deg);
}

.failing_star:nth-child(1) {
    top: calc(50% - 508px);
    left: calc(50% + 345px);
    animation-delay: 1s;
}

.failing_star:nth-child(1)::before, .failing_star:nth-child(1)::after {
    animation-delay: 1s;
}

.failing_star:nth-child(2) {
    top: calc(50% - 171px);
    left: calc(50% + 197px);
    animation-delay: 1.2s;
}

.failing_star:nth-child(2)::before, .failing_star:nth-child(2)::after {
    animation-delay: 1.2s;
}

.failing_star:nth-child(3) {
    top: calc(50% + 451px);
    left: calc(50% - 169px);
    animation-delay: 1.4s;
}

.failing_star:nth-child(3)::before, .failing_star:nth-child(3)::after {
    animation-delay: 1.4s;
}

.failing_star:nth-child(4) {
    top: calc(50% - -50px);
    left: calc(50% - 200px);
    animation-delay: 1.6s;
}

.failing_star:nth-child(4)::before, .failing_star:nth-child(4)::after {
    animation-delay: 1.6s;
}

.failing_star:nth-child(5) {
    top: calc(50% - -100px);
    left: calc(50% - 250px);
    animation-delay: 1.8s;
}

.failing_star:nth-child(5)::before, .failing_star:nth-child(5)::after {
    animation-delay: 1.8s;
}

.failing_star:nth-child(6) {
    top: calc(50% + 597px);
    left: calc(50% - 610px);
    animation-delay: 2s;
}

.failing_star:nth-child(6)::before, .failing_star:nth-child(6)::after {
    animation-delay: 2s;
}

/*  */

.back_mount {
    position: absolute;
    top: 221px;
}

.sec05_txt {
    position: absolute;
    bottom: 299px;
    left: 20px;
}

#sec05 .btn_wrap a {
    background-color: #D7B12D;
}

#sec05 .btn_wrap a span {
    color: #C41821;
    left: 20px;
}

#sec05 .cont_btn img {
    right: 17px;
    top: 272px;
}

#sec05 .s04_sub {
    position: absolute;
    top: -67px;
}

.bg_mount {
    overflow: hidden;
}

.sec05_mockup {
    width: 966px;
    height: 687px;
    position: absolute;
    bottom: 229px;
    left: calc(50% - 172px);
}

/* 6 */

#sec06 .bg_line07{
    position:absolute;
    fill:none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    right: 322px;
    bottom: 108px;
}

#sec06 .bg_line07 path {
    fill: transparent;
    stroke-width: 3;
}

#sec06 .bg_line07.On path {
    animation: sec06_ani 5s 1;
    animation-fill-mode: both;
}

@keyframes sec06_ani {
    0% { stroke-dashoffset: 2000;}

    100% {stroke-dashoffset: 0;}
}


#sec06 .bg_line08{
    position:absolute;
    fill:none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 2000;
    stroke-dashoffset: -2000;
    right: 322px;
    bottom: 110px;
}

#sec06 .bg_line08 path {
    fill: transparent;
    stroke-width: 3;
}

#sec06 .bg_line08.On path {
    animation: sec06_ani02 5s 1;
    animation-fill-mode: both;
}

@keyframes sec06_ani02 {
    0% { stroke-dashoffset: -2000;}
    
    100% {stroke-dashoffset: 0;}
}
/* 이미지 마스크 */

.s06 .prd_mask .img_list {
    width: 100%;
    height: 100%;
    position: relative;
}

.s06 .prd_mask .img_list li {
    overflow: hidden;
    position: absolute;
    width: calc(50% - 10px);
}

.s06 .prd_mask .img_list li:nth-child(1) {
    left: 141px;
    top: -17px;
    width: 275px;
}
.s06 .prd_mask .img_list li:nth-child(2) {
    left: 444px;
    top: -17px;
    width: 275px;
}
.s06 .prd_mask .img_list li:nth-child(3) {
    left: 142px;
    bottom: -701px;
    width: 575px;
}
.s06 .prd_mask .img_list li:nth-child(4) {
    left: 742px;
    bottom: -721px;
    width: 299px;
}

.s06 .prd_mask .img_list li:nth-child(1):after {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(118,82,97);
    background: linear-gradient(180deg, rgba(118,82,97,1) 0%, rgba(141,104,119,1) 100%);
    content: "";
    transition: 2.5s;
    -webkit-transition: 2.5s;
    -moz-transition: 2.5s;
    -ms-transition: 2.5s;
    -o-transition: 2.5s;
}

.s06 .prd_mask .img_list li:nth-child(2):after {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(118,82,97);
    background: linear-gradient(180deg, rgba(118,82,97,1) 0%, rgba(148,111,126,1) 100%);
    content: "";
    transition: 2.5s;
    -webkit-transition: 2.5s;
    -moz-transition: 2.5s;
    -ms-transition: 2.5s;
    -o-transition: 2.5s;
}

.s06 .prd_mask .img_list li:nth-child(3):after {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(150,112,127);
    background: linear-gradient(180deg, rgba(150,112,127,1) 0%, rgba(173,135,150,1) 100%);
    content: "";
    transition: 2.5s;
    -webkit-transition: 2.5s;
    -moz-transition: 2.5s;
    -ms-transition: 2.5s;
    -o-transition: 2.5s;
}

.s06 .prd_mask .img_list li:nth-child(4):after {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(150,112,127);
    background: linear-gradient(180deg, rgba(150,112,127,1) 0%, rgba(173,135,150,1) 100%);
    content: "";
    transition: 2.5s;
    -webkit-transition: 2.5s;
    -moz-transition: 2.5s;
    -ms-transition: 2.5s;
    -o-transition: 2.5s;
}

.s06.active .prd_mask .img_list li::after {
    width: 0%;
}

.s06 .prd_mask .img_list li:nth-child(even) {
    margin: 0 0 20px 0;
}

.s06 .prd_mask .img_list li:nth-child(even)::after {
    left: 0;
}

.s06 .prd_mask .img_list li .img_content {
    font-size: 0;
    transform: translateX(-101%);
    -webkit-transform: translateX(-101%);
    -moz-transform: translateX(-101%);
    -o-transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    transition: 1.2s .5s;
}

.s06.active .prd_mask .img_list li .img_content {
    width: 100%;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%)
}

.s06 .prd_mask .img_list li .img_content img {
    width: 100%;
}

/*  */

#sec06 svg {
    position: absolute;
    right: -17.4px;
    bottom: 31px;
}

.sec06_svg {
    stroke: #130606;
    fill: none;
    opacity: 0.63;
}

#sec06 .btn_wrap a {
    background-color: #CDB295;
    margin-top: 84px;
}

#sec06 .btn_wrap a span {
    color: #632828;
}

#sec06 .cont_btn img {
    right: 24px;
    top: 270px;
}

#sec06 .sec_tit {
    width: 326px;
    transform: rotate(90deg);
    position: absolute;
    top: calc(50% + 60px);
    left: 381px;
    font-family: "a옛날사진관3";
}

.sec06_txt {
    position: absolute;
    right: 265px;
    top: calc(50% - 353px);
}

.sec06_elie_saab{
    position: absolute;
    width: 899px;
    top: 15%;
    left: -10px;
}

.sec06_elie_saab ul li {
    position: absolute;
    display: flex;
}

.sec06_elie_saab ul li:nth-child(1) {
    left: 100px;
}
.sec06_elie_saab ul li:nth-child(2) {
    left: 400px;
}
.sec06_elie_saab ul li:nth-child(3) {
    left: 100px;
    bottom: -724px;
}
.sec06_elie_saab ul li:nth-child(4) {
    bottom: -724px;
    left: 700px;
}

/* 7 */

#sec07 .bg_line09{
    position:absolute;
    fill:none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    right: 322.5px;
    top: -112px;
}

#sec07 .bg_line09 path {
    fill: transparent;
    stroke-width: 3;
}

#sec07 .bg_line09.On path {
    animation: sec07_ani 5s 1;
    animation-fill-mode: both;
}

@keyframes sec07_ani {
    0% { stroke-dashoffset: 2000;}

    100% {stroke-dashoffset: 0;}
}

#sec07 .bg_line10{
    position:absolute;
    fill:none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    left: 0;
    top: 107px;
}

#sec07 .bg_line10 path {
    fill: transparent;
    stroke-width: 3;
}

#sec07 .bg_line10.On path {
    animation: sec07_ani02 5s 1;
    animation-fill-mode: both;
}

@keyframes sec07_ani02 {
    0% { stroke-dashoffset: 2000;}

    100% {stroke-dashoffset: 0;}
}

.back_logo {
    position: absolute;
    right: -179px;
    top: 132px;
    z-index: 1;
}

/* 백그라운드 원형  */

.loader {
    position: relative;
    width: 120px;
    height: 120px;
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: #aa6262;
    opacity: .3;
    border-radius: 50%;
    transform: scale(0);
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1.2);
    }
    80%,100% {
        transform: scale(0);
    }
}

.loader02 {
    position: relative;
    width: 320px;
    height: 320px;
}

.loader02 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

.loader02 span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: rgb(250, 250, 250);
    opacity: .2;
    border-radius: 50%;
    transform: scale(0);
    animation: animate02 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate02 {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1.2);
    }
    80%,100% {
        transform: scale(0);
    }
}

.loader_move {
    position: absolute;
    top: 248px;
    right: 439px;
}
.loader_move02 {
    position: absolute;
    bottom: 264px;
    left: 281px;
}

.team_mockup {
    width: 1021px;
    height: 589px;
    position: absolute;
    left: 13%;
    top: calc(50% - 227px);
    z-index: 2;
}

.sec07_cloud {
    width: 615px;
    height: 399.07px;
    opacity: 0.5;
    position: absolute;
    transform: rotateY(180deg);
    left: -359px;
    bottom: -115px;
    z-index: 1;
}

.sec07_txt {
    position: absolute;
    top: 69px;
    left: 161px;
    font-size: 55px;
}

#sec07 .sec_tit {
    font-family: "a옛날사진관3";
}

#sec07 .s04_sub {
    font-size: 42px;
}

#sec07 .sec_txt {
    font-size: 22px;
}

#sec07 .btn_wrap a {
    background-color: #111F4A;
    position: absolute;
    bottom: 134px;
    left: calc(50% - 239px);
    z-index: 1;
}

#sec07 .btn_wrap a.cont_btn img {
    right: 25px;
    top: 30px;
}

/* 8 */

#sec08 {
    overflow-x: hidden;
}

#sec08 .bg_line11 {
    background-color: #FFFFFF;
    height: 2px;
    width: 0;
    position: absolute;
    right: 0;
    top: 352px;
}

#sec08 .bg_box02 {
    background-color: #FFFFFF;
    height: 0;
    width: 0;
    position: absolute;
    right: calc(50% - 126px);
    top: 341px;
    border-radius: 30px;
}

/* 배경 동그라미 */

.sec08_circle {
    position: absolute;
    border-radius: 50%;
    display: block;
    left: 0;

    -webkit-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    -moz-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    -ms-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    animation: spin 7000ms linear infinite, moveLeftToRight 5s linear infinite;
    
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

/* Spinning the sphere using key frames */
@-ms-keyframes spin {
from { -ms-transform: rotate(0deg); }
to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
from { -moz-transform: rotate(0deg); }
to { -moz-transform: rotate(360deg); }
}
@keyframes spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); }
}

.sec08_circle::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -13px;
    left: 5px;
    border-radius: 50%;
    content: "";
    display: block;
    background-color: #A879AB;
}

.sec08_circle::after {
    width: 108%;
    height: 108%;
    position: absolute;
    top: -38px;
    left: 10px;
    border-radius: 50%;
    content: "";
    display: block;
    border: 1px solid #FFFFFF;
}

.sec08_circle.c01 {
    left: calc(50% - 1069px);
    bottom: 165px;
    width: 225px;
    height: 225px;
}

.sec08_circle02 {
    position: absolute;
    border-radius: 50%;
    display: block;

    -webkit-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    -moz-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    -ms-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    animation: spin 7000ms linear infinite, moveLeftToRight 5s linear infinite;
    
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.sec08_circle02::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 26px;
    left: -22px;
    border-radius: 50%;
    content: "";
    display: block;
    background-color: #A879AB;
}

.sec08_circle02::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    left: -43px;
    border-radius: 50%;
    content: "";
    display: block;
    border: 1px solid rgba(119, 97, 97, 0.486);
}

.sec08_circle02.c02 {
    right: calc(50% - 1083px);
    top: 36px;
    width: 225px;
    height: 225px;
    border: 1px solid rgba(119, 97, 97, 0.486);
}

/* 배경 동그라미 끝 */

.sec08_bg_circle {
    width: 583px;
    height: 583px;
    position: absolute;
    background-color: #A879AB;
    border-radius: 50%;
    bottom: 52px;
    left: -37px;
    opacity: 0.5;
}

.angel {
    opacity: 0.60;
    position: absolute;
    top: -80px;
    right: 778px;
}

.angel img {
    width: 66%;
}

.sec08_main {
    position: absolute;
    bottom: 270px;
    left:83px;
}

.sec08_sul {
    position: absolute;
    z-index: 1;
    top: -606px;
}

.sec08_main02 {
    position: absolute;
    bottom: -144px;
    left: -125px;
    z-index: 2;
}

.sec08_txt {
    position: absolute;
    width: 617px;
    left: calc(50% + 158px);
    bottom: 430px;
}

#sec08 .sec_tit {
    font-family: "a옛날사진관3";
}

#sec08 .btn_wrap a {
    background-color: #7D647E;
}

#sec08 .cont_btn img {
    position: absolute;
    right: 271px;
    top: 301px;
}

.sec08_bottom_cloud {
    opacity: 0.80;
    width: 864px;
    position: absolute;
    top: -113px;
    right: -366px;
    z-index: 1;
}

#sec08 .angel_flying {
    position: absolute;
    top:-57px;
    left:0%;
    width:150px;
}

.angel_line {
    position:absolute;
    fill:none;
    stroke: none;
    z-index: 5;
}

/* 9 */

.text-container .animated-text {
    position: relative;
    margin-top: 15px;
    width: 496px;
    height: 75px;
    overflow: hidden;
}

.text-container .animated-text h2 {
    color: #BCA4AA;
    font-family: "NotoSansCJKkr-Medium";
    font-size: 54px;
    text-align: center;
    line-height: 75px;
}

.text-container .animated-text h2:nth-child(1) {
    animation: text-move 22s infinite;
}

@keyframes text-move {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: -75px;
    }

    20% {
        margin-top: -150px;
    }

    30% {
        margin-top: -225px;
    }
    
    40% {
        margin-top: -300px;
    }
    
    50% {
        margin-top: -375px;
    }

    60% {
        margin-top: -300px;
    }

    70% {
        margin-top: -225px;
    }

    80% {
        margin-top: -150px;
    }

    90% {
        margin-top: -75px;
    }

    100% {
        margin-top: 0;
    }
}

.text-container {
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255,255,255,0.05));
    position: absolute;
    left: calc(50% - 196px);
    top: 351px;
    z-index: 1;
}

.text-container02 .animated-text02 {
    position: relative;
    margin-top: 15px;
    width: 496px;
    height: 75px;
    overflow: hidden;
}

.text-container02 .animated-text02 h2 {
    color: #00414E;
    font-family: "NotoSansCJKkr-Medium";
    font-size: 54px;
    text-align: center;
    line-height: 75px;
}

.text-container02 .animated-text02 h2:nth-child(1) {
    animation: text-move02 22s infinite;
}

@keyframes text-move02 {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: -75px;
    }

    20% {
        margin-top: -150px;
    }

    30% {
        margin-top: -225px;
    }
    
    40% {
        margin-top: -300px;
    }
    
    50% {
        margin-top: -375px;
    }

    60% {
        margin-top: -300px;
    }

    70% {
        margin-top: -225px;
    }

    80% {
        margin-top: -150px;
    }

    90% {
        margin-top: -75px;
    }

    100% {
        margin-top: 0;
    }
}

.text-container02 {
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255,255,255,0.05));
    position: absolute;
    left: calc(50% - 201px);
    top: 427px;
    z-index: 1;
}

.cloud_sec09 {
    position: absolute;
    width: 1924px;
    height: 1282px;
    opacity: .4;
    top: 125px;
}

.thx {
    position: absolute;
    left: calc(50% - 412px);
    top: calc(50% - 468px);
}

.text_box_move {
    position: absolute;
    bottom: 244px;
    left: calc(50% - 80px);
}

div.text_box {
    display: block;
    width: 253px;
    line-height: 73px;
    outline: none;
    background-color: transparent;
    position: relative;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
    color: #806775;
    font-family: "Binggrae";
    font-size: 26px;
}

div.text_box::after {
    content: "";
    display: block;
    border: 3px solid #B29EAA;
    position: absolute;
    right: -6px;
    width: 100%;
    height: 100%;
    top: -11px;
    transition: all 0.5s;
    z-index: 0;
    border-radius: 2px;
}

div.text_box::before {
    content: "";
    z-index: 0;
    display: block;
    border: 3px solid #B29EAA;
    position: absolute;
    left: -13px;
    width: 100%;
    height: 100%;
    bottom: -13px;
    transition: all 0.5s;
    border-radius: 2px;
}

div.text_box:hover {
    color: #FFFFFF;
    background-color: #B29EAA;
}

div.text_box:hover::before {
    left: 0;
    bottom: 0;
    border: 1px solid transparent;
}

div.text_box:hover::after {
    right: 0;
    top: 0;
    border: 1px solid transparent;
}

.vaildator p {
    position: absolute;
    bottom: 133px;
    left: calc(50% - 1px);
}

/* 메뉴 슬라이드 */

nav {
    position:fixed;
    height:100%;
    left: 50px;
    display:inline-flex;
    align-items: center;
    z-index: 5;
}

nav ul li{
    margin:10px 0;
}

nav ul li a{
    background-image: url(../img/menu_slide/menu_slider.png);
    background-size: contain;
    background-repeat: no-repeat;
    display:block;
    width:38px;
    height:38px;
    border-radius:50%;
    text-indent: -9999px;
}

nav ul li:nth-child(even) a{
    transform: rotateY(180deg);
}

nav ul li.active a{
    background-image: url(../img/menu_slide/menu_change.png);
    
}
