@charset "utf-8";

/* a옛날사진관 */

@font-face{
    font-family: a옛날사진관1;
    src: url(../css/font/aoyEZEIC1.otf);
}
@font-face{
    font-family: a옛날사진관2;
    src: url(../css/font/aoyEZEIC2.otf);
}
@font-face{
    font-family: a옛날사진관3;
    src: url(../css/font/aoyEZEIC3.otf);
}
@font-face{
    font-family: a옛날사진관4;
    src: url(../css/font/aoyEZEIC4.otf);
}
@font-face{
    font-family: a옛날사진관5;
    src: url(../css/font/aoyEZEIC5.otf);
}

/* Noto Sans */

@font-face{
    font-family: NotoSansCJKkr-Thin;
    src: url(../css/font/NotoSansCJKkr-Thin.otf);
}
@font-face{
    font-family: NotoSansCJKkr-Regular;
    src: url(../css/font/NotoSansCJKkr-Regular.otf);
}
@font-face{
    font-family: NotoSansCJKkr-Medium;
    src: url(../css/font/NotoSansCJKkr-Medium.otf);
}
@font-face{
    font-family: NotoSansCJKkr-Light;
    src: url(../css/font/NotoSansCJKkr-Light.otf);
}
@font-face{
    font-family: NotoSansCJKkr-DemiLight;
    src: url(../css/font/NotoSansCJKkr-DemiLight.otf);
}
@font-face{
    font-family: NotoSansCJKkr-Bold;
    src: url(../css/font/NotoSansCJKkr-Bold.otf);
}
@font-face{
    font-family: NotoSansCJKkr-Black;
    src: url(../css/font/NotoSansCJKkr-Black.otf);
}

/* 윤고딕 */

@font-face {
    font-family: Yun320;
    src: url(../css/font/-Zno320.otf);
}

/* 빙그레 */

@font-face {
    font-family: Binggrae;
    src: url(../css/font/Binggrae-Bold.otf);
}

/* sj가슴않이 */

@font-face {
    font-family: SJCuoi;
    src: url(../css/font/SJCUoi.otf);
}